<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2017 Institute of Communication and Computer Systems (imu.iccs.com)
  ~
  ~ This Source Code Form is subject to the terms of the
  ~ Mozilla Public License, v. 2.0. If a copy of the MPL
  ~ was not distributed with this file, You can obtain one at
  ~ http://mozilla.org/MPL/2.0/.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg%n</Pattern>-->
            <Pattern>EMS> %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <!--<file>${user.home}/ems.log</file>-->
        <file>logs/ems.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="NOOP_APPENDER" class="ch.qos.logback.core.helpers.NOPAppender"></appender>-->

    <logger name="root" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.control" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.baguette.server" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.baguette.client.install" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.brokercep" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.brokercep.cep" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.translate" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.util" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
    <logger name="eu.melodic.event.util.NetUtil" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </logger>
</configuration>
