target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### MCTS tree printing ###
zpp-solver/testing_module/src/main/resources/nodes*
zpp-solver/testing_module/src/main/resources/tree*