SERVER_IP=localhost

#EMS_IMAGE_REPO=ems-server
EMS_IMAGE_REPO=ems-server
EMS_IMAGE_TAG=8.0.0-SNAPSHOT
EMS_IMAGE_TAG_EXTRA=-nebulous

# --- EMS-specific settings ---
P_BAGUETTE_SERVER_ADDRESS=
P_WEB_API_KEY_VALUE=
P_WEB_ADMIN_PASSWORD=ems
P_KEYSTORE_PASSWORD=
# P_BROKERCEP_CREDENTIALS=aaa/111, bbb/222, cipher/cipher
# P_BAGUETTE_SERVER_CREDENTIALS={ aa: xx, bb: yy }

# --- New EMS-specific settings ---
P_JASYPT_PASSWORD=
P_JWT_SECRET=...........................................
