<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2017 7bulls.com
  ~
  ~ This Source Code Form is subject to the terms of the
  ~ Mozilla Public License, v. 2.0. If a copy of the MPL
  ~ was not distributed with this file, You can obtain one at
  ~ http://mozilla.org/MPL/2.0/.
  -->

<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="eu.melodic.upperware.cpsolver" level="INFO"/>
  <!--<logger name="eu.melodic.upperware.utilitygenerator" level="DEBUG"/>-->
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>

  <!-- choco solver begin -->
  <logger name="choco" level="WARN"/>
  <logger name="choco.util" level="INFO"/>
  <logger name="bench" level="info"/>
  <logger name="solver" level="info"/>
  <logger name="fzn" level="info"/>
  <logger name="explainer" level="info"/>
  <logger name="configuration" level="info"/>
  <logger name="tree" level="info"/>
  <logger name="visualization" level="info"/>
  <!-- choco solver end -->

</configuration>
